# Don't track content of these folders
.settings/
targetConfigs/
Debug/

# Dont track these files
.ccsproject
.ccsproject
.cproject
.project
msp432p401r.cmd
startup_msp432p401r_ccs.c
system_msp432p401r.c

